@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    font-family: sans-serif;
}

.main {
    background: url("./image\ 2.png") no-repeat ;
    background-size: cover;
    height: 100vh;
    color: white;
    padding: 20px 40px;
    position: relative;
}

.desc{
padding-top: 20%;
}

.main h1{
    margin-top: 0;
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 24px;

    /* Rectangle 11 */




}

.buttons button{
    font-family: sans-serif;
    width: 210px;
height: 45px;


background: #5C503A;
border-radius: 10px;
/* Про нас */


font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
border: none;
}

/* ваш путівник у світ грибів */

.desc h1{
    /* МІКОЛОГІЯ */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
margin-bottom: 8px;

color: #FFFFFF;

}

.desc h2{
margin-top: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #DB9C1D;

}

.arrow{
    left: calc(50% - 15px);
    position: absolute;
    bottom: 50px;
}

.burger{
    position: absolute;
    top: 80px;
    right: 50px;
}

.about{
    padding: 80px 20px;
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
}

.about .circle{
    position: absolute;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    left:80px;

    background: rgba(219, 156, 29, 0.75);
    filter: blur(150px);

}